<div class="photo">
    <img src="{{photo.largeUrl}}" />

    {{#if nav}}
    <ul class="photo-nav layout">
        {{#if nav.prev}}
        <li class="prev"><a href="/photo/{{nav.prev}}/">« Previous</a></li>
        {{/if}}

        {{#if nav.next}}
        <li class="next"><a href="/photo/{{nav.next}}/">Next »</a></li>
        {{/if}}
    </ul>
    {{/if}}

    <div class="photo-info">
        <h2 class="photo-title">
            <a href="{{photo.pageUrl}}" title="View on Flickr">{{photo.title}}</a>
        </h2>
    </div>
</div>
