<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{> title}}</title>
    <meta name="description" content="Look at interesting photos of things taken near your current location" />
    <meta name="author" content="Eric Ferraiuolo" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="/style.css" />

  {{#typekit}}
    <script src="http://use.typekit.com/{{id}}.js"></script>
    <script>try{ Typekit.load(); } catch (e) {}</script>
  {{/typekit}}
</head>
<body>
    <div id="wrap" class="{{#if located}}located{{else}}loading{{/if}}">
        <div id="header">
            {{> header}}
        </div>

        <div id="main" class="layout">
            {{{body}}}
        </div>
    </div>

    <script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
    <script>
        YUI.applyConfig({{{yui_config}}});

        {{{pnm_env}}}
    </script>

    <script>
    YUI().use('pnm-app', 'json-parse', 'ios-oc-fix', function (Y) {

        var PNMEnv = YUI.namespace('Env.PNM'),
            data   = YUI.namespace('Env.PNM.DATA'),

            place  = new Y.PNM.Place(data.place ? Y.JSON.parse(data.place) : {}),
            photos = new Y.PNM.Photos({items: data.photos ? Y.JSON.parse(data.photos) : []}),
            photo  = new Y.PNM.Photo(data.photo ? Y.JSON.parse(data.photo) : {}),

            routes   = PNMEnv.ROUTES,
            viewName = PNMEnv.VIEW,
            app;

        app = new Y.PNM.App({
            place : place,
            photos: photos,

            container    : '#wrap',
            viewContainer: '#main',

            transitions  : true,
            serverRouting: true
        });

        Y.Array.each(app.namedRoutes, function (route, i) {
            app.route(routes[route.name].path, route.callbacks);
            app.get('routes')[i].name = route.name;
        });

        if (viewName) {
            app.showContent(Y.one('#main .' + viewName), {
                view: {
                    name: viewName,

                    config: {
                        place : place,
                        photos: photos,
                        photo : photo
                    }
                },

                transition: true
            });
        }

        // Determine if the user needs to be located. When the app is saved to
        // the home screen in iOS, always route to "/"" so geolocation lookup
        // is preformed.
        if (place.isNew() || Y.config.win.navigator.standalone) {
            app.locate();
        } else {
            app.render();

            if (photos.isEmpty()) {
                app.loadPhotos();
            }
        }

    });
    </script>
</body>
</html>
