<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{> title}}</title>
    <meta name="description" content="Look at interesting photos of things taken near your current location" />
    <meta name="author" content="Eric Ferraiuolo" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="/style.css" />

  {{#typekit}}
    <script src="{{.}}"></script>
    <script>try{ Typekit.load(); } catch (e) {}</script>
  {{/typekit}}
</head>
<body>
    <div id="wrap" class="{{#if located}}located{{else}}loading{{/if}}">
        <div id="header">
            {{> header}}
        </div>

        <div id="main" class="layout">
            {{{body}}}
        </div>
    </div>

    <script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
    <script>
      {{#yui_config}}
        var YUI_config = {{{.}}};
      {{/yui_config}}

      {{#config.flickr}}
        YUI.namespace('Env.Flickr').API_KEY = '{{api_key}}';
      {{/config.flickr}}

      {{#initialData}}
        YUI.namespace('Env.PNM').DATA = {
            place : {{#if place}} {{{place}}} {{else}} null {{/if}},
            photos: {{#if photos}} {{{photos}}} {{else}} null {{/if}},
            photo : {{#if photo}} {{{photo}}} {{else}} null {{/if}}
        };
      {{/initialData}}

      {{#initialView}}
        YUI.namespace('Env.PNM').VIEW = '{{.}}';
      {{/initialView}}
    </script>

    <script>
    YUI().use('pnm-app', 'ios-oc-fix', function (Y) {

        var PNMEnv = YUI.namespace('Env.PNM'),
            data   = YUI.namespace('Env.PNM.DATA'),

            place  = new Y.PNM.Place(data.place),
            photos = new Y.PNM.Photos().reset(data.photos || []),
            photo  = new Y.PNM.Photo(data.photo),

            viewName = PNMEnv.VIEW,
            app;

        app = new Y.PNM.App({
            place : place,
            photos: photos,

            container    : '#wrap',
            viewContainer: '#main',

            transitions  : true,
            serverRouting: true
        });

        if (viewName) {
            app.showView(viewName, {
                container: app.get('viewContainer').one('.' + viewName),
                place    : place,
                photos   : photos,
                photo    : photo
            }, {
                render    : false,
                transition: false
            });
        }

        // Determine if the user needs to be located. When the app is saved to
        // the home screen in iOS, always route to "/"" so geolocation lookup
        // is preformed.
        if (place.isNew() || Y.config.win.navigator.standalone) {
            app.locate();
        } else {
            app.render();
            photos.isEmpty() && app.loadPhotos();
        }

    });
    </script>
</body>
</html>
